/* General page background */
body {
  background: rgba(0,0,0,0.7); /* Darker purple gradient */
  color: #fff; /* Text color to contrast with the dark background */
  margin: 0;
  padding: 0;
}

/* Full-width carousel */
.carousel-inner img {
  width: 100%;
  height: auto;
}

/* Sticky search bar styling */
.search-bar {
  position: sticky;
  top: 0;
  background: rgba(255, 255, 255, 0.9); /* Slightly opaque background to blend with page */
  z-index: 1020;
}

/* CenterMode slider container */
.slider-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 20px;
}

/* Slider text content */
.text-content {
  text-align: center;
  margin-bottom: 40px;
}

.slider-title {
  font-size: 2.5rem;
  color: #fff;
  margin-bottom: 15px;
  font-weight: 700;
}

.slider-description {
  font-size: 1rem;
  color: #ccc;
  max-width: 800px;
  margin: 0 auto;
  line-height: 1.5;
}

/* Slider item styling */
.slide-item {
  text-align: center;
}

.slide-content {
  background: transparent;
  border-radius: 10px;
  box-shadow: none;
  padding: 20px;
  position: relative;
}

.slide-img {
  width: 100%;
  height: auto;
}

.rank {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 5px 10px;
  border-radius: 50%;
  font-size: 1.25rem;
  font-weight: 700;
}

/* Slick arrow styling */
.slick-prev, .slick-next {
  width: 40px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 50%;
  color: #ffffff;
  font-size: 24px;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
  z-index: 1;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.slick-prev {
  left: 10px;
}

.slick-next {
  right: 10px;
}

/* Slick dots styling */
.slick-dots li button:before {
  font-size: 12px;
  color: #fff;
}

/* Card styling */
.event-card {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin-bottom: 2rem;
}

.card-title {
  font-size: 1.25rem;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card-img-top {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

/* Adjust button container */
.reserve-button-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

/* Main container adjustments */
.container {
  padding-left: 0;
  padding-right: 0;
}

.col-md-4 {
  padding-left: 15px;
  padding-right: 15px;
}

.main-title {
  font-size: 2rem;
  color: #fff;
  font-weight: 700;
}

.main-description {
  font-size: 1.125rem;
  color: #ccc;
  max-width: 800px;
  margin: 0 auto;
  line-height: 1.5;
}

/* Contact section styling */
.contact-section {
  padding: 20px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
}
